@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

h1, h2, h3, h4, h5, h6 {
    margin-block-end: 0;
    margin-block-start: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #41cfac;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 2px dotted black;
}

/* Section mia */
/*main {
    height: calc(100vh - 140px);
}

main .main-section-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/cover.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section .section-title {
    margin-top: 75px;
    max-width: 900px;
}

section .section-title h1 {
    color: white;
    font-family: "Roboto Mono";
    font-size: 3.25rem;
    text-align: center;
}

section .section-action-button {
    margin-top: 45px;
    padding: 15px 15px 20px 15px;
    color: black;
    background-color: #48CFAD;
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 1.25rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 200ms;
}

.button-primary {
    border: none;
    border-bottom: 15px solid rgb(20, 114, 90);
}

.section-action-button:active {
    transform: scale(0.9);
}*/

/* Main de clase */
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url(../assets/img/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

.home-main-title {
    max-width: 900px;
}

.home-main-title h1 {
    color: white;
    font-family: "Roboto Mono";
    letter-spacing: 7px;
    font-size: 3.25rem;
    text-align: center;
}

.home-main-button {
    margin-top: 45px;
    padding: 15px 15px 20px 15px;
    color: black;
    background-color: #48CFAD;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.25rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 200ms;
}

.button-primary {
    border: none;
    border-bottom: 15px solid rgb(20, 114, 90);
}

.home-main-button:active {
    transform: scale(0.9);
}

/* Blogposts */
.blogs-main {
    width: 100%;
}

.blogs-news-container {
    min-height: 450px;
    padding: 0 70px 40px;
    background-color: #E6E9ED;
}

.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    column-gap: 50px;
}

.blogs-main-new h3 {
    margin: 20px 0;
    font-size: 21px;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-main-new p {
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

.blogs-news-img-container img {
    width: 100%;
}

.blogs-news-info-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.blogs-button {
    position: relative;
    display: inline-block;
    width: 150px;
    padding: 10px 20px;
    border: 1px solid #48CFAD;
    transition-duration: .5s;
    transition-property: all;
}

.blogs-button:hover {
    color: white;
    background-color: #48CFAD;
    border-width: 2px;
    border-color: #AA5FB3;
    box-shadow: 0px 0px 16px 2px rgba(170, 95, 179, 0.70);
}

.blogs-posts-container {
    margin-top: 75px;
    padding: 0 50px;
}

.blogs-posts-container h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
}

.posts-items-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

/* Cards blogs */
.posts-card {
    display: block;
}

.posts-card-image {
    width: 100%;
}

.posts-card-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts-card-body h5 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts-card-body p {
    margin-bottom: 20px;
}

/* Estilos de footer */
.footer-line {
    width: 100%;
    height: 30px;
    background-color: #48CFAD;
}

.footer-container {
    width: 100%;
    height: 70px;
    background-color: #23282D;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.footer-container p {
    display: inline-block;
    font-size: 18px;
    color: white;
}

/* Blogpost */
.blogpost-img-container {
    padding: 0 50px 40px;
}

.blogpost-img-container img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.blogpost-main-container {
    padding: 0 50px 40px;
}

.blogpost-main-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
}

.blogpost-description h1 {
    margin: 24px 0;
    font-size: 36px;
}

/* Contact */
.contact-main-container {
    min-height: 250px;
    background-color: #E6E9ED;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.contact-main-container > div {
    width: 50%;
    display: inline-flex;
    align-items: center;
    padding: 0 70px;
}

.contact-main-container img {
    width: 120px;
    padding: 20px;
}

.contact-description a {
    font-size: 20px;
    border-bottom: 1px solid black;
}

.contact-description p {
    font-size: 14px;
}

/* Profile */
.profile-main-container {
    width: 100%;
    min-height: 350px;
    background-color: #E6E9ED;
}

.profile-description {
    padding: 70px 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
}

.profile-description-img-container img {
    width: 100%;
    border-radius: 3px;
}

.profile-description-info-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Utilities */
.grid-container {
    max-width: 1280px;
    margin: auto;
}

.section-margin-container {
    margin-top: 75px;
    padding: 0 50px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
}

.hr {
    padding: 0 10px;
    width: 100%;
    height: 1px;
    background-color: #E6E9ED;
}

.fontsize-subheader {
    font-size: 3rem;
}

.fontsize-title-3 {
    font-size: 1.75rem;
}


/* Media queries */
@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .posts-items-container {
        grid-template-columns: 1fr 1fr;
    }

    /* Profile */
    .profile-main-container {
        min-height: 500px;
    }
    .profile-description {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .profile-description-info-container {
        grid-column: 1;
        grid-row: 2;
    }
}
