/*
  Flaticon icon font: Flaticon
  Creation date: 20/12/2018 09:27
  */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
        url("./Flaticon.woff") format("woff"),
        url("./Flaticon.ttf") format("truetype"),
        url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 30px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-001-facebook:before { content: "\f100"; }
.flaticon-002-twitter:before { content: "\f101"; }
.flaticon-003-whatsapp:before { content: "\f102"; }
.flaticon-004-groupme:before { content: "\f103"; }
.flaticon-005-kik:before { content: "\f104"; }
.flaticon-006-skype:before { content: "\f105"; }
.flaticon-007-periscope:before { content: "\f106"; }
.flaticon-008-youtube:before { content: "\f107"; }
.flaticon-009-itunes:before { content: "\f108"; }
.flaticon-010-linkedin:before { content: "\f109"; }
.flaticon-011-instagram:before { content: "\f10a"; }
.flaticon-012-messenger:before { content: "\f10b"; }
.flaticon-013-twitter-1:before { content: "\f10c"; }
.flaticon-014-snapchat:before { content: "\f10d"; }
.flaticon-015-reddit:before { content: "\f10e"; }